<div class="container-fluid">
  <div class="row">
   <div class="large-12 columns" style="background-image: url('/assets/Movie-theater.jpg'); min-height: 200px; width:100%; background-size:cover;">
     <center style="margin-top: 25%;"><%= render "logo" %>
     <hr class="footerdiv"/>
     <p style="color:#fff;">Your Source for movie reviews and information. </p>
     </center>
   </div>
 </div>
</div>
